/************************************************************
2015
LICENCE :
Free Template de {SelMaK_} - Yann (Divrezstudio.fr) 
est mis à disposition selon 
les termes de la licence Creative Commons Attribution 
- Pas d'Utilisation Commerciale 
- Pas de Modification 4.0 International.
Les autorisations au-delà du champ de cette licence 
peuvent être obtenues à kresium@gmail.com.
http://creativecommons.org/licenses/by-nc-nd/4.0/ 
*************************************************************
File name: main.css
File ver. 1.0.1 (Février 2015)
Author File: Yann - {SelMaK_} (Divrezstudio)
Author URL : http://www.divrezstudio.fr
************************************************************/
@import url(color.min.css); /* Style color */


/*
Body, links, options and Header
************************************************************/
body{
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif !important;
	font-size:1.3em;
}

a{
    text-decoration:none !important;
}


.smalltext{
    display: block;
    font-size: 0.6em !important;
    text-align: left !important;
}

header button{
    border:none;
    text-decoration:none;
}

section{
    padding: 100px 0;
}

.navbar-brand {
    padding: 4px 15px !important;
}

.clear{
    clear:both;
}

.citation{
    font-size: 1.9em;
}

h1.firstText{
    font-weight: 600;
    font-size: 1.3em;
    margin: 0;
    text-transform: uppercase;
}

figure span{
    font-size: 2.2em;
    font-weight: 600;
    text-transform: uppercase;    
}

.floatr{
    float:right;
}

a{
	text-decoration:none;
}

a:visited{
	color:#333333;
}

section p{
	text-align:center;
}
p.description {
    font-weight: 300;
    margin-bottom: 0;
    text-transform: uppercase;
}

.spacer40{
	margin:80px 0;
	}

/*
Navbar
*************************************************************/
.navbar-nav li a{text-transform: uppercase;font-weight:600}


/* 
Teaser vidéo 
************************************************************/

/* 1. Pas de support d'object-fit */
@media (min-aspect-ratio: 16/9) {
  #teaser > video {
    height: 50%;
    top: 0;
  }
}
/* 2. En cas de support d'object-fit, écrase les règles en (1) */
@supports (object-fit: cover) {
  #teaser > video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

#teaser {
  margin:0;
  padding:0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

video {
  background-color: black;
  background-image: /* Ici, notre vidéo */;
  background-position: center center;
  background-size: contain;
}

#teaser > video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.boxshadow .embed-responsive {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border:6px solid #ffffff;
	-webkit-box-shadow: 0px 0px 41px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 41px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 41px -7px rgba(0,0,0,0.75);
}

/**
* Style section
************************************************************/

.nopad{padding:0;}

/* Correction font size table.span.label */
table span.label{
	font-size:0.9em;
}

.mainpage{
	padding:30px 0;
}

.aligncenter{
	text-align:center;
}

.alignright{
	text-align:right;
}

.height30{
	height:30px;
}

.border{
	height:10px;
}


/* col */
.colbg{
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0 10px;
}

#back-menu-logo img{
	float:left;
}

figure.logomobile{
	display:none;
}


#back-menu-logo nav{
	float:right;
	padding:15px 0;
}

#back-menu-logo nav .active a{
	font-weight:600;
}


/* Menu mobile */

.navbarmob{
	display:none;
}

/* Welcome */
section#welcome, section#feedback, section#headtitle, .titlepage{
 	text-align:center;
 }


section#welcome h1,  section#feedback h1, section#headtitle h1, .titlepageh1{
 	font-size:2.7em;
 }

 section#welcome h1{text-transform:uppercase;}

section#welcome p, section#headtitle p, .titlepage p{
 	font-size:2.2em;
 	font-weight:normal;
 }

section#welcome figure{
  	padding:60px 0;
 }

 /* Feedback */

section#feedback form{
	margin:60px 0;
	overflow: hidden;
 }


section#feedback label{
  	display:none;
 }

section#feedback input{
	height: 50px;
	margin:6px 0;
}

section#feedback button{
	float:right;
}

section#feedback input.white, section#feedback .white textarea.white{
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    
 }

section#feedback .white input.white, section#feedback .white textarea.white{
    border-radius: 4px;
    
 }

section#feedback textarea{
    margin-top:20px;
    padding:15px;
    min-height:250px;
 }

 /** Welcome Link **/

button.button-small{
	margin:15px 0 !important;
}

a.button, button.button-blue, button.button-blue-bis{
	border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	display:inline-block;
	font-size:1.3em;
	text-transform:uppercase;
	font-weight:600;
	margin:0 10px;
}

a.button:hover, button.button:hover{
	text-decoration:none;
}

a.button-big, button.button-small{
	padding:6px 20px;
	font-size:1.2em;
}

button.button-small{
	font-size:0.9em;
}

a.button-big, button.button-big{
	padding:15px 40px;
}

a.button-blue:hover, button.button-blue:hover{
	text-shadow:none;
}

a.button-opac, button.button-opac{
	background:transparent;
}
a.button-opac:hover, button.button-opac:hover{
	background:transparent;
}

.pricing-plan a.button{
	border-radius:0;
}
a.button-price{
    font-size: 1.2em !important;
    line-height: 120px;
    margin: 0 !important;
    width: 100%;
}

/* Accueil points */
.sep {
    border-bottom: 1px solid;
    display: inline-block;
    margin: 0 auto 3px;
    width: 30px;
}
.feature-icon {
    display: inline-block;
    min-height: 91px;
    text-align: center;
    width: 100%;
}


.feature-icon span{
     display: block;
    padding: 23px 0;   
}

.feature-item h4{
    font-size:1.6em;
}
.feature-item{
    transition: all 0.6s ease 0s;
    padding:10px 0;
    margin:30px 0;
}


/* Teaser vidéo */

/* 1. Pas de support d'object-fit */
@media (min-aspect-ratio: 16/9) {
  #teaser > video {
    height: 50%;
    top: 0;
  }
}
/* 2. En cas de support d'object-fit, écrase les règles en (1) */
@supports (object-fit: cover) {
  #teaser > video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

#teaser {
  margin:0;
  padding:0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

video {
  background-color: black;
  background-image: /* Ici, notre vidéo */;
  background-position: center center;
  background-size: contain;
}

#teaser > video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Copyright */
#footer{
	height:200px;
}

#copyright{
    font-size: 0.9em;
    padding: 20px 0;
    text-align: center;
}


@media (min-aspect-ratio: 16/9) {
  #teaser {
    width: 100%;
    height: auto; /* En pratique : supérieur à la hauteur du viewport */
  }
}
@media (max-aspect-ratio: 16/9) {
  #teaser {
    width: auto; /* En pratique : supérieur à la largeur du viewport */
    height: 100%;
  }
}

@media screen and (max-width: 640px) {
 #copyright {
     text-align:center !important;
 }
#back-menu-logo, #back-menu-logo img{
    text-align:center !important;
    float:none !important;
}

#back-menu-logo nav{
    float:none !important;
    padding:15px 0;
}
section#welcome figure{
    padding: 0 !important;
    display: none !important;
 }
a.button, button.button-blue{
    display: block !important;
    font-size: 1em !important;
}

nav.navbar{
    display:block;
}

figure.logoweb{
    display:none;
}

nav.menuweb{
    display:none;
}

}

/*Button*/
.buttonBig{
    font-size:1.2em;
    font-weight:600;
    margin: 10px;
    display:inline-block;
    position:relative;
    padding:15px 50px 15px 40px !important;
}

.buttonWhite, .buttonBlack{
    border-radius: 5px;   
}

 .homeColorLink {
    border-radius: 5px;
    /*0 1px 0 #a96800 inset, 0 5px 0 0 #8f5800, 0 10px 5px #000*/
}

.homeColorLink:active {
    top:3px;
}

.buttonOrange::before {
    background-image:url(../pictures/right_arrow.png);
    background-repeat:no-repeat;
    background-position:center center;
    content:"";
    width:20px;
    height:20px;
    position:absolute;
    right:15px;
    top:50%;
    margin-top:-9px;
    border-radius: 50%;
}

.buttonOrange:active::before {
    top:50%;
    margin-top:-12px;
}

/* White */

.buttonWhite:active {
    top:3px;
}

.buttonWhite::before {
    background-image:url(../pictures/right_arrow.png);
    background-repeat:no-repeat;
    background-position:center center;
    content:"";
    width:20px;
    height:20px;
    position:absolute;
    right:15px;
    top:50%;
    margin-top:-9px;
    border-radius: 50%;
}

.buttonWhite:active::before {
    top:50%;
    margin-top:-12px;
}

/* Black */

.buttonBlack:active {
    top:3px;
}

.buttonBlack::before {
    background-image:url(../pictures/right_arrow.png);
    background-repeat:no-repeat;
    background-position:center center;
    content:"";
    width:20px;
    height:20px;
    position:absolute;
    right:15px;
    top:50%;
    margin-top:-9px;
    border-radius: 50%;
}

.buttonBlack:active::before {
    top:50%;
    margin-top:-12px;
}


